body {
  background-color: lightblue;
}

.list_boards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .list_boards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
  }
}
